/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

body {
    background-color: rgba(32, 178, 170, 0.1);
}

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    text-align: center;
}
